@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    accent-color:#2326a6;
}

*::selection {
    /* @apply bg-blue-500 text-gray-100; */
    background-color: #2326a6;
    color: #fefefe;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-gray-0 dark:bg-gray-900;

}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply absolute rounded bg-blue-700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply rounded bg-blue-700;
}

html {
    min-width: 360px;
    scroll-behavior: smooth;
    @apply font-mono ;
}

#__next {
    @apply bg-gray-50 dark:bg-gray-900;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
@supports not (backdrop-filter: none) {
    .sticky-nav {
        backdrop-filter: none;
        @apply bg-opacity-100;
    }
}

code[class*='language-'],
pre[class*='language-'] {
    @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}